h1{
    text-align: center;
    font-size: xx-large;
    font-style: bold;
    font-family: 'Times New Roman', Times, serif;
}
.szoveg{
    text-align: center;
}
h2{
    font-size: x-large;
    font-style: bold;
    font-family: 'Times New Roman', Times, serif;
    margin: 3px;
    padding: 2px;
    display: inline;
    float: center;
}
.grid{
    margin-top: 20px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 120px);
    grid-template-rows: repeat(5, 120px);
    justify-content: center;
}
.negyzet{
    height: 120px;
    width: 120px;
    background-color: #0b4cb5;
    box-shadow: 10px 5px 5px rgb(22, 221, 233);
    border-radius: 5px;
}
.mole{
    height: 120px;
    width: 120px;
    background-color: black;
    box-shadow: 10px 5px 5px rgb(22, 221, 233);
    border-radius: 5px;
}
.negyzet:hover{
    animation-delay: 2s;
    background-color: gray;
}
.mole:hover{
    animation-delay: 2s;
    background-color: red;
}
.negyzet:active{
    background-color: aqua;
    animation-delay: 2s;
    animation-duration: 5s;
}
.mole:active{
    background-color: white;
    animation-delay: 2s;
    animation-duration: 5s;
}
body{
    background: rgb(72,231,255);
    background: radial-gradient(circle, rgb(222, 221, 233) 10%, rgb(119, 181, 224) 100%);
}